a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/*****GENERAL STYLES */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #fffaf1;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

textarea {
  font-family: 'Roboto', sans-serif;
  resize: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}

/*******GENERAL FONT STYLING */
h1 {
  font-family: 'Barrio', cursive;
  font-weight: bold;
  font-size: clamp(5.5rem, 5.5vw, 7rem);
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: .25rem;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #3a2e22;
}

input,
textarea {
  text-transform: uppercase;
}

.junoType {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: clamp(2.5rem, 2.5vw, 4.5rem);
  text-transform: uppercase;
}

.studentName {
  font-size: clamp(2rem, 2.3vw, 2.5rem);
}

.boldLabel,
button {
  font-weight: 700;
  text-transform: uppercase;
}

header {
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
  justify-content: center;
  align-items: center;
}

.headerButtons {
  display: flex;
  justify-content: space-between;
  width: 462px;
}

button {
  background-color: lightgray;
  border: 0px solid transparent;
  width: 200px;
  border-radius: 3px;
  padding: 5px 15px;
  margin-top: 10px;
  text-align: center;
}

/*******FORM STYLES */

.formToFill {
  width: 462px;
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

input,
textarea {
  border: 0px;
  border-bottom: 2px solid grey;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
}

.standaloneInput input {
  width: 100%;
}

.inputsFlex {
  display: flex;
}

.inputsFlex input {
  width: 50%;
  margin-right: 10px;
}


/******STUDENT CARD DISPLAY SECTION  */
main {
  background: url('./assets/josephine-bredehoft-unsplash.jpg'); 
  /* credit <span>Photo by <a href="https://unsplash.com/@sibilant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Josephine Bredehoft</a> on <a href="https://unsplash.com/s/photos/cork-board?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
  padding: 60px 0;
}

select {
  text-transform: uppercase;
  padding: 10px 25px 10px 15px;
  margin-bottom: 20px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  margin: 0px auto;
}

.cardsContainer div {
  padding: 30px;
  margin: 10px;
  min-height: 250px;
  background-color: #fffaf1;
  box-shadow: 0px 2px 2px black;
}

.cardsContainer div:nth-child(odd) {
  transform: rotate(-1deg);
}

.cardsContainer div:nth-child(even) {
  transform: rotate(1deg);
}

.fa-github-square,
.fa-linkedin,
.fa-desktop {
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .cardsContainer {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
}

@media (max-width: 600px) {

  .inputsFlex {
    flex-direction: column;
    width: 100%;
  }

  .inputsFlex input {
    width: 100%;
    margin-right: 0px;
  }

  input,
  textarea {
    padding: 8px;
    margin: 8px 0px;
    width: 100%;
  }

  .headerButtons {
    width: 100%;
    flex-direction: column;
  }

  button {
    width: 100%;
  }

  .formToFill {
    width: 100%;
  }

  .cardsContainer {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
}